%h1#logo bartendr
.about
  .row
    .columns.large-6.large-centered.small-12
      %p The concept for bartendr came to us at the Launch Hackathon on November 8, 2013. We wanted to design a site that made learning the composition of cocktails

  .row
    .columns.large-9.large-centered
      .row
        .columns.large-3.push-2.small-4
          =link_to image_tag('octocats/codercat.jpg', size:'150x150'), 'https://github.com/fab'
        .columns.large-3.push-2.small-4
          =link_to image_tag('octocats/class-act.png', size:'150x150'), 'https://github.com/ysadka'
        .columns.large-4.small-4
          =link_to image_tag('octocats/dojocat.jpg', size:'150x150'), 'https://github.com/nathanielwroblewski'
  .row
    .columns.large-9.large-centered
      .row
        .columns.large-3.push-2.small-4
          %h4 Fab Mackojc
        .columns.large-3.push-2.small-4
          %h4 Yaron Sadka
        .columns.large-3.pull-1.small-4
          %h4 Nathaniel Wroblewski
