%h1#logo bartendr
=form_tag do
  .row
    .columns.small-6.small-centered
      =text_field_tag 'user-input', nil, id:'search-bar'
  .button-container
    %input{type: 'submit', class: 'button tiny radius', value: 'Make my Drink!'}
#svg-container
#instructions-container
  %h2#drink-name
  %p#instructions
#glass-container
  =link_to '#', id: 'glass-link' do
    =image_tag '', id: 'glass-image'
    #glass-name
#ingredients-container
