%h1#logo BARTENDR
=form_tag do
  .row
    .columns.small-8.small-centered
      =text_field_tag('user-input', nil,{id:'search-bar'})
  .row
    .columns.small-3.small-centered
      %input{type: 'submit', class: 'button small radius', value: 'Make my Drink!'}
%br
