@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import "foundation_and_overrides";
@import 'main_page.css.scss'

///////////////////////////////////////////////////////////////////////////////
