body, html {
  background: #FFFDD0;
  margin: 0;
  padding: 0;
}

.shape {
  fill: none;
  stroke: #60544F;
}

.outline, .doors {
  fill: #e0eeee;
  stroke: #60544F;
  stroke-width: 2pt;
  opacity: 0.7;
}

.water {
  fill: #D6EDEE;
  stroke: #60544F;
}

.water-cut {
  fill: #B4D6DB;
}

.milk {
  fill: #fff;
  stroke: #60544F;
}

.milk-cut {
  fill: #F4EEE6;
}

.coffee {
  fill: #60544F;
  stroke: #60544F;
}

.coffee-cut {
  fill: #60544F;
}

#logo {
  margin: 0;
  padding-top: 50px;
  font-size: 172px;
  text-align: center;
  color: #e0eeee;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  font-family: 'Josefin Sans', sans-serif;
}

svg {
  /*border: 1px solid black;*/
}
