body, html {
  background: #FCFCFC;
  margin: 0;
  padding: 0;
}

#svg-container {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.shape {
  fill: none;
  stroke: #60544F;
}

.outline, .doors {
  fill: #e0eeee;
  stroke: #60544F;
  stroke-width: 2pt;
  opacity: 1;
}

.water {
  stroke: #60544F;
  opacity: 0;
}

.water-cut {
  fill: #B4D6DB;
}

.milk {
  fill: #fff;
  stroke: #60544F;
}

.milk-cut {
  fill: #F4EEE6;
}

.coffee {
  fill: #60544F;
  stroke: #60544F;
}

.coffee-cut {
  fill: #60544F;
}

#logo {
  margin: 0;
  padding-top: 25px;
  font-size: 140px;
  text-align: center;
  color: #e0eeee;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: 'Josefin Sans', sans-serif;
}

.button-container {
  text-align: center;
}

#instructions-container {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

  h2 {
    font-family: 'Josefin Sans', sans-serif;
  }
}

#ingredients-container {
  text-align: center;

  #ingredient-list {
    list-style-type: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

#glass-image {
  height: 20;
  width: 20;
}

#instructions-container {
  text-align: center;

  #instructions {
    margin: auto;
    width: 200px;
    margin-bottom: 25px;
  }
}

#swatch {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 5px;
}
